In [2]:
import pandas as pd
import numpy as np
import glob

In [11]:
allxlsx = glob.glob('/Users/franckatteaka/Desktop/cours/Semester III/ML_for_finance/Data/*.xlsx')
csv = glob.glob('/Users/franckatteaka/Desktop/cours/Semester III/ML_for_finance/Data/*yields_raw.csv')

In [37]:
yields_raw = pd.read_csv(csv[0],sep = ";",skiprows = 3,parse_dates = True,index_col = 0 )

In [52]:
# remove exchange closed days
yields = yields_raw[yields_raw["Value"] == yields_raw["Value"] ]

In [94]:
yields = yields.replace('10J0','10J').copy()

In [98]:
yields

             D0  Value
Date
1991-01-03   1J  8.105
1991-01-03   2J  7.339
1991-01-03   3J  6.944
1991-01-03   4J  6.752
1991-01-03   5J  6.660
...         ...    ...
2020-10-30   9J -0.548
2020-10-30  10J -0.518
2020-10-30  15J -0.423
2020-10-30  20J -0.376
2020-10-30  30J -0.328

[79554 rows x 2 columns]

In [95]:
yields['D0'].value_counts()

15J    6153
10J    6153
9J     6153
3J     6153
20J    6153
6J     6153
8J     6153
4J     6153
5J     6153
2J     6153
7J     6153
1J     6153
30J    5718
Name: D0, dtype: int64

In [62]:
dates = pd.Series(yields.index.date)

13

In [126]:
tab = pd.DataFrame(dates.value_counts() == 12 )

In [118]:
max_date = max(tab[tab[0] == True].index)
max_date.s

datetime.date(1997, 12, 22)

In [128]:
yields[yields.index.date > max_date]['D0'].value_counts()

15J    5718
10J    5718
9J     5718
3J     5718
30J    5718
20J    5718
6J     5718
8J     5718
4J     5718
5J     5718
2J     5718
7J     5718
1J     5718
Name: D0, dtype: int64

In [129]:
yields_clean = yields[yields.index.date > max_date]

In [130]:
yields_clean

             D0  Value
Date
1997-12-29   1J  1.684
1997-12-29   2J  1.862
1997-12-29   3J  2.100
1997-12-29   4J  2.341
1997-12-29   5J  2.568
...         ...    ...
2020-10-30   9J -0.548
2020-10-30  10J -0.518
2020-10-30  15J -0.423
2020-10-30  20J -0.376
2020-10-30  30J -0.328

[74334 rows x 2 columns]