In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import datetime

In [2]:
allxlsx = glob.glob('/Users/franckatteaka/Desktop/cours/Semester III/Courses Projects/Machine Learning/Data/*.xlsx')
csv = glob.glob('/Users/franckatteaka/Desktop/cours/Semester III/Courses Projects/Machine Learning/Data/*yields_raw.csv')

## Yield data cleaning

In [3]:
yields_raw = pd.read_csv(csv[0],sep = ";",skiprows = 3,parse_dates = True,index_col = 0 )

In [4]:
# remove exchange closed days
yields = yields_raw[yields_raw["Value"] == yields_raw["Value"] ]

In [5]:
yields = yields.replace('10J0','10J').copy()

In [6]:
yields

             D0  Value
Date
1991-01-03   1J  8.105
1991-01-03   2J  7.339
1991-01-03   3J  6.944
1991-01-03   4J  6.752
1991-01-03   5J  6.660
...         ...    ...
2020-10-30   9J -0.548
2020-10-30  10J -0.518
2020-10-30  15J -0.423
2020-10-30  20J -0.376
2020-10-30  30J -0.328

[79554 rows x 2 columns]

In [7]:
yields['D0'].value_counts()

6J     6153
5J     6153
9J     6153
4J     6153
2J     6153
8J     6153
20J    6153
15J    6153
10J    6153
7J     6153
3J     6153
1J     6153
30J    5718
Name: D0, dtype: int64

In [8]:
dates = pd.Series(yields.index.date)

In [9]:
tab = pd.DataFrame(dates.value_counts() == 12 )

In [10]:
max_date = max(tab[tab[0] == True].index)

In [11]:
yields[yields.index.date > max_date]['D0'].value_counts()

6J     5718
5J     5718
9J     5718
4J     5718
2J     5718
8J     5718
20J    5718
15J    5718
10J    5718
7J     5718
30J    5718
3J     5718
1J     5718
Name: D0, dtype: int64

In [12]:
yields_clean = yields[yields.index.date > max_date]

In [13]:
yields_clean.reset_index(level = 0, inplace = True)
yields_clean = yields_clean.pivot(index='Date', columns='D0', values='Value')

In [14]:
yields_clean

D0,10J,15J,1J,20J,2J,30J,3J,4J,5J,6J,7J,8J,9J
Date,,,,,,,,,,,,,
1997-12-29,3.408,3.869,1.684,4.104,1.862,4.249,2.100,2.341,2.568,2.774,2.961,3.127,3.276
1997-12-31,3.445,3.903,1.658,4.167,1.883,4.445,2.136,2.384,2.614,2.821,3.006,3.171,3.316
1998-01-06,3.356,3.838,1.652,4.142,1.869,4.484,2.108,2.340,2.555,2.750,2.925,3.084,3.227
1998-01-07,3.331,3.793,1.608,4.071,1.809,4.375,2.054,2.297,2.520,2.722,2.902,3.062,3.204
1998-01-08,3.339,3.791,1.537,4.057,1.748,4.342,2.016,2.276,2.512,2.721,2.906,3.068,3.212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-26,-0.505,-0.405,-0.722,-0.355,-0.815,-0.304,-0.833,-0.795,-0.736,-0.676,-0.621,-0.575,-0.537
2020-10-27,-0.494,-0.397,-0.734,-0.348,-0.830,-0.300,-0.841,-0.794,-0.729,-0.665,-0.610,-0.564,-0.525
2020-10-28,-0.533,-0.440,-0.723,-0.393,-0.820,-0.346,-0.844,-0.810,-0.754,-0.696,-0.644,-0.600,-0.563
2020-10-29,-0.521,-0.425,-0.730,-0.376,-0.812,-0.328,-0.827,-0.792,-0.738,-0.682,-0.631,-0.588,-0.551
2020-10-30,-0.518,-0.423,-0.721,-0.376,-0.802,-0.328,-0.822,-0.790,-0.736,-0.680,-0.629,-0.585,-0.548

## Economic data cleaning

In [15]:
allxlsx

['/Users/franckatteaka/Desktop/cours/Semester III/ML_for_finance/Data/kof_data_eco_sent_raw.xlsx',
 '/Users/franckatteaka/Desktop/cours/Semester III/ML_for_finance/Data/kof_data_baro_raw.xlsx',
 '/Users/franckatteaka/Desktop/cours/Semester III/ML_for_finance/Data/kof_data_mcp_raw.xlsx.xlsx']

In [16]:
df_eco_raw = pd.read_excel(allxlsx[0],parse_dates = True,index_col = 0 )

In [17]:
df_eco_raw.columns = ['sentiment ch','sentiment eu']

In [18]:
df_eco_raw.dropna()

            sentiment ch  sentiment eu
date
2007-04-01    117.499994         112.3
2007-05-01    116.797739         112.6
2007-06-01    117.108608         112.5
2007-07-01    117.698923         111.9
2007-08-01    117.843179         110.9
...                  ...           ...
2020-06-01     57.700856          74.9
2020-07-01     78.252529          81.8
2020-08-01     79.930654          86.8
2020-09-01     80.160834          90.0
2020-10-01     89.618791          90.0

[163 rows x 2 columns]

In [19]:
date_min = min(df_eco_raw.dropna().index)

In [20]:
df_eco_raw[df_eco_raw.index.date >= date_min]

            sentiment ch  sentiment eu
date
2007-04-01    117.499994         112.3
2007-05-01    116.797739         112.6
2007-06-01    117.108608         112.5
2007-07-01    117.698923         111.9
2007-08-01    117.843179         110.9
...                  ...           ...
2020-07-01     78.252529          81.8
2020-08-01     79.930654          86.8
2020-09-01     80.160834          90.0
2020-10-01     89.618791          90.0
2020-11-01     88.711065           NaN

[164 rows x 2 columns]

In [21]:
df_eco_raw = df_eco_raw.dropna().copy()

In [22]:
df_eco_raw

            sentiment ch  sentiment eu
date
2007-04-01    117.499994         112.3
2007-05-01    116.797739         112.6
2007-06-01    117.108608         112.5
2007-07-01    117.698923         111.9
2007-08-01    117.843179         110.9
...                  ...           ...
2020-06-01     57.700856          74.9
2020-07-01     78.252529          81.8
2020-08-01     79.930654          86.8
2020-09-01     80.160834          90.0
2020-10-01     89.618791          90.0

[163 rows x 2 columns]

In [23]:
df_baro_raw = pd.read_excel(allxlsx[1],parse_dates = True,index_col = 0 )

In [24]:
df_baro_raw

            kofbarometer
date
1991-01-01     78.275945
1991-02-01     69.256217
1991-03-01     69.463534
1991-04-01     78.027456
1991-05-01     77.920725
...                  ...
2020-06-01     65.207427
2020-07-01     86.984889
2020-08-01    107.645407
2020-09-01    110.107743
2020-10-01    106.592883

[358 rows x 1 columns]

In [25]:
df_baro_raw.isna().sum()

kofbarometer    0
dtype: int64

In [26]:
df_mcp_raw = pd.read_excel(allxlsx[2],parse_dates = True,index_col = 0 )

In [27]:
df_mcp_raw.columns = ['kof mpc']

In [28]:
df_mcp_raw.isna().sum()

kof mpc    4
dtype: int64

In [29]:
df_mcp_raw[df_mcp_raw['kof mpc'].isna()]

            kof mpc
date
1999-12-01      NaN
2020-09-01      NaN
2020-10-01      NaN
2020-12-01      NaN

In [30]:
df_mcp_raw = df_mcp_raw.dropna().copy()

In [31]:
df_mcp_raw

             kof mpc
date
1999-01-01 -0.333333
1999-02-01 -0.300000
1999-03-01 -0.142857
1999-04-01  0.125000
1999-05-01  0.000000
...              ...
2020-01-01  0.315789
2020-03-01  0.210526
2020-04-01 -0.350000
2020-06-01 -0.741935
2020-07-01 -0.375000

[230 rows x 1 columns]

In [32]:
df_mcp_raw.loc['2006-08-01']

             kof mpc
date
2006-08-01  0.333333
2006-08-01  0.241379

In [33]:
(pd.Series(df_mcp_raw.index).value_counts() == 2).sum()

4

## Data expension

In [34]:

def expand_data(dt):
    '''
        Upsample the dataframe to daily dat
        
         parameters
        ------------
        dt: pandas df
        
        Return
        ------------
        df: pandas df
        
    '''
    
    df = dt.copy()
    date = max(df.index)
    d = datetime.datetime.strptime(str(date), '%Y-%m-%d %H:%M:%S')
    date = date.replace(month = d.month + 1 , day = 1)
    
    df.loc[date] = np.nan
    df = df.resample('D').last().ffill().copy()
    df = df.drop( date, axis = 0).copy()
    
    return df

In [35]:
df_baro_clean = expand_data(df_baro_raw)

df_mcp_clean = expand_data(df_mcp_raw)

df_eco_clean = expand_data(df_eco_raw)

## Clean data

In [36]:
data = yields_clean.join([df_mcp_clean, df_baro_clean,df_eco_clean] ).dropna()

In [37]:
col = ['sentiment eu','sentiment ch', 'kofbarometer','kof mpc', '1J', '2J', '3J', '4J', '5J', '6J', '7J', '8J', '9J', '10J', '15J', '20J', '30J']

In [38]:
data = data[col].copy()

In [39]:
data.to_csv('/Users/franckatteaka/Desktop/cours/Semester III/Courses Projects/Machine Learning/Data/data_clean.csv')